header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  visibility: hidden;
  opacity: 0;
  transition: box-shadow 0.3s ease;
}

header.active {
  animation: show-header 1.5s linear forwards;
  animation-delay: 1.2s;
}

header.scrolled {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
}

@keyframes show-header {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.logo {
  font-size: 2rem;
  color: var(--white-color);
  font-weight: 700;
  transition: color 0.3s;
}

.logo:hover {
  color: var(--main-color);
}

nav a {
  font-size: 2rem;
  color: var(--white-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.5s;
  position: relative;
}

nav a:hover,
nav a.active {
  color: var(--main-color);
}

nav a.active::after {
  content: '';
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 0.2rem;
  background: var(--main-color);
}

#menu-icon {
  font-size: 4rem;
  display: none;
  cursor: pointer;
  color: var(--white-color);
  transition: color 0.3s;
}

#menu-icon:hover {
  color: var(--main-color);
}

@media screen and (max-width: 992px) {
  header {
    padding: 2rem 4%;
  }
}

@media screen and (max-width: 768px) {
  #menu-icon {
    display: block;
  }

  nav {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem 0;
    background: var(--bg-color);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    text-align: center;
    display: none;
  }

  nav.active {
    display: block;
  }

  nav a {
    display: block;
    margin: 4rem 0;
  }

  nav a.active::after {
    display: none;
  }
}
