.resume_container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
}

.resume_box h2 {
  font-size: 4.5rem;
}

.resume_box p {
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
}

.resume_box .desc {
  margin: 2rem 0 2.5rem;
}

.resume_box .resume_btn {
  width: 100%;
  height: 5.3rem;
  background: var(--second-bg-color);
  border: 0.2rem solid var(--second-bg-color);
  font-size: 1.6rem;
  color: var(--white-color);
  font-weight: 500;
  margin-bottom: 2rem;
  border-radius: 0.8rem;
  cursor: pointer;
  transition: 0.3s;
}

.resume_box .resume_btn:hover {
  border-color: var(--main-color);
}

.resume_box .resume_btn.active {
  border-color: var(--main-color);
  color: var(--main-color);
}

.resume_detail {
  display: none;
}

.resume_detail.active {
  display: block;
}

.resume_box .heading {
  font-size: 3.5rem;
  text-align: left;
}

.resume_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
  height: 45rem;
  overflow: auto;
}

.resume_list::-webkit-scrollbar {
  width: 0.7rem;
}

.resume_list::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 1rem;
}

.resume_list:hover::-webkit-scrollbar-thumb {
  background: var(--main-color);
}

.resume_list .resume_item {
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  padding: 3rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resume_item .year {
  color: var(--main-color);
}

.resume_item h3 {
  font-size: 2.2rem;
}

.resume_item .company {
  position: relative;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.resume_item .company::before {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 0.5rem;
  background: var(--main-color);
  border-radius: 50%;
  margin-left: -2rem;
}

.resume_detail.skills .resume_list {
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  height: auto;
  overflow: visible;
}

.resume_detail.skills .resume_item {
  position: relative;
  align-items: center;
  height: auto;
}

.resume_detail.skills .resume_item i {
  font-size: 8.5rem;
  transition: 0.5s;
}

.resume_detail.skills .resume_item:hover i {
  color: var(--main-color);
}

.resume_detail.skills .resume_item span {
  position: absolute;
  top: -20%;
  background: var(--white-color);
  color: var(--bg-color);
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border-radius: 0.6rem;
  pointer-events: none;
  opacity: 0;
  transform: scale(0.9);
  transition: 0.2s;
}

.resume_detail.skills .resume_item:hover span {
  top: -25%;
  opacity: 1;
  transform: scale(1);
}

.resume_detail.about .resume_item {
  height: auto;
  padding: 0 0 0.5rem;
  background: transparent;
}

.resume_detail.about .resume_item p {
  color: var(--main-color);
}

.resume_detail.about .resume_item p span {
  color: var(--white-color);
  margin-left: 1rem;
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  .resume_container {
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}

@media screen and (max-width: 400px) {
  .resume_box h2,
  .resume_box .heading,
  .resume_box .desc,
  .resume_detail.about .resume_item {
    text-align: center;
  }
}
