.heading {
  font-size: 4.5rem;
  text-align: center;
  margin-bottom: 2rem;
}

.heading span {
  color: var(--main-color);
}

.services_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.services_container .services_box {
  padding: 3rem 2.5rem;
  background: var(--second-bg-color);
  border-radius: 1rem;
  border: 2px solid transparent;
  transition: 0.5s;
}

.services_container .services_box:hover {
  border-color: var(--main-color);
  transform: scale(1.02);
}

.services_box .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.services_box .icon i {
  font-size: 4.5rem;
  transition: 0.5s;
}

.services_box:hover .icon :not(a i) {
  color: var(--main-color);
}

.services_box .icon a {
  display: inline-flex;
  background: var(--white-color);
  border-radius: 50%;
  padding: 1rem;
  transition: 0.5s;
}

.services_box:hover .icon a {
  background: var(--main-color);
}

.services_box .icon a i {
  font-size: 3rem;
  color: var(--bg-color);
  transform: rotate(225deg);
}

.services_box .icon a:hover i {
  transform: rotate(180deg);
}

.services_box h3 {
  font-size: 3rem;
  margin: 0.5rem 0 2rem;
  transition: 0.5s;
}

.services_box:hover h3 {
  color: var(--main-color);
}

.services_box p {
  font-size: 1.6rem;
}

@media screen and (max-width: 992px) {
  .services_container {
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  }
}
