section#home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  padding: 8rem 9% 3rem;
  display: flex;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}

section#home.active {
  animation: show-content 1s ease-in-out forwards;
  animation-delay: 0.5s;
}

@keyframes show-content {
  100% {
    visibility: visible;
    opacity: 1;
  }
}

.home {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 3rem;
  width: 100%;
}

.home_details {
  flex: 0 0 50%;
  max-width: 50%;
  order: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home_details h1 {
  font-size: clamp(3.5rem, 10vw, 5.5rem);
}

.home_details h2 {
  display: inline-block;
  font-size: 2.2rem;
  margin-top: -1rem;
}

.home_details h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.07rem var(--main-color);
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}

@keyframes display-text {
  25%,
  100% {
    display: none;
  }
}

.home_details h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 0.2rem solid var(--main-color);
  color: var(--main-color);
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
}

.home_details p {
  font-size: 1.6rem;
  margin: 1rem 0 2.5rem;
}

.home_details .btn_sci {
  display: flex;
  align-items: center;
}

.btn {
  display: inline-block;
  padding: 1rem 3rem;
  border: 0.2rem solid var(--main-color);
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--bg-color);
  font-weight: 500;
  transition: 0.5s;
}

.btn:hover {
  background: transparent;
  color: white;
  box-shadow: none;
}

.home_details .btn_sci .sci {
  margin-left: 2rem;
}

.home_details .btn_sci .sci a {
  display: inline-flex;
  padding: 0.8rem;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  margin: 0 0.8rem;
  transition: 0.5s;
  background: var(--bg-color);
}

.home_details .btn_sci .sci a:hover {
  background: var(--main-color);
  color: white;
  box-shadow: 0 0 1rem var(--main-color);
}

.home_img {
  flex: 0 0 45%;
  max-width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
  order: 2;
}

.home_img .img_box {
  position: relative;
  width: 35rem;
  height: 35rem;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home_img .img_box::before,
.home_img .img_box::after {
  content: '';
  position: absolute;
  width: 50rem;
  height: 50rem;
  background: conic-gradient(transparent, transparent, transparent, var(--main-color));
  transform: rotate(0deg);
  animation: rotate-border 10s linear infinite;
}

.home_img .img_box::after {
  animation-delay: -5s;
}

@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}

.home_img .img_box .img_item {
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--bg-color);
  border-radius: 50%;
  border: 0.01rem solid var(--bg-color);
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.home_img .img_box .img_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
}

@media screen and (max-width: 992px) {
  section#home {
    padding: 8rem 4% 3rem;
  }

  .home_details {
    flex: 0 0 48%;
    max-width: 48%;
  }

  .home_img {
    flex: 0 0 48%;
    max-width: 48%;
  }

  .home_img .img_box {
    width: 30rem;
    height: 30rem;
  }
}

@media screen and (max-width: 768px) {
  section#home {
    padding: 8rem 3% 3rem;
  }

  .home {
    flex-direction: column-reverse;
    justify-content: center;
    gap: 3rem;
  }

  .home_details {
    flex: 1 1 100%;
    max-width: 100%;
    order: unset;
  }

  .home_img {
    flex: 1 1 100%;
    max-width: 100%;
    justify-content: center;
    order: unset;
  }

  .home_img .img_box {
    width: 30rem;
    height: 30rem;
  }
}

@media screen and (max-width: 600px) {
  .home_img .img_box {
    width: 25rem;
    height: 25rem;
  }
}

@media screen and (max-width: 400px) {
  .home_details {
    text-align: center;
  }

  .home_details .btn_sci {
    flex-direction: column-reverse;
    margin-bottom: 100px;
  }

  .home_details .btn_sci .sci {
    margin-left: 0;
    margin-bottom: 2rem;
  }
}
